@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: #03001c;
  color: white;
}

.App {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.07) 9%,
    transparent 9%
  );
  background-position: 0% 0%;
  background-size: 30px 30px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
